extends layout

block content
  h1= __(message)
  if (typeof error != 'undefined') 
    div=JSON.stringify(error)
    h2= __(error.status != undefined ? error.status: '')
    pre #{ error.stack != undefined ? error.stack: ''}