.intro{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d2c3a+0,164060+94&amp;0.9+0,0+47 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(13,44,58,0.9) 0%, rgba(18,54,77,0) 47%, rgba(22,64,96,0) 94%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(13,44,58,0.9)), color-stop(47%,rgba(18,54,77,0)), color-stop(94%,rgba(22,64,96,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(13,44,58,0.9) 0%,rgba(18,54,77,0) 47%,rgba(22,64,96,0) 94%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(13,44,58,0.9) 0%,rgba(18,54,77,0) 47%,rgba(22,64,96,0) 94%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(13,44,58,0.9) 0%,rgba(18,54,77,0) 47%,rgba(22,64,96,0) 94%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(13,44,58,0.9) 0%,rgba(18,54,77,0) 47%,rgba(22,64,96,0) 94%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60d2c3a', endColorstr='#00164060',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}